.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 360px;
    margin: 0 auto;
}

@media screen and (max-width:768px){
    .cover__subtitle {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    }
}