.photo-grid__item {
    min-width: 288px;
    max-height: 216px;
}

@media screen and (min-width: 768px) {
    .photo-grid__item {
       max-width: 100%;
       max-height: 264px;
   }
}
   @media screen and (min-width: 1024px) {
    .photo-grid__item {
        max-width: 100%;
        max-height: 225px;
    }
}
@media screen and (min-width: 1280px) {
    .photo-grid__item {
        max-width: 100%;
        max-height: 213px;
    }
}