.lead__caption {
    text-align: left;
    max-width: 984px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 8px auto 0 auto;
}
@media screen and (max-width: 1280px) {
    .lead__caption {
        max-width: 928px;
    }
}
@media screen and (max-width: 1024px){
    .lead__caption {
        max-width: 751px;
    }
}

@media screen and (max-width:768px){
    .lead__caption{
        max-width: 320px;
        padding-left: 16px;
    }
}